@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html, body{
    height: 100vh;
    width: 100vw;
}

body{
    position: relative;
    background-color: #1561c5;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.561);
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem{
    display: block;
    height: 200px;
    width: 320px;
    background:#5f2c82 url(../imagens/ia.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario h1{
    font-weight: 800;
    text-align: center;
}

#formulario p{
    font-size: 17px;
    font-weight: 500;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5593e4;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#icon{
    color: white;
    padding: 2px;
    
}

.caixa > input{
    padding: 5px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 18px;
}

.botoes > input{
    height: 27px;
    width: 230px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 16px;
    background-color: skyblue;
    color: #5f2c82;
}

.botoes > input:hover{
    background-color: rgb(52, 128, 161);
    color: white;
}