@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html, body{
    height: 100vh;
    width: 100vw;
}

body{
    position: relative;
    background-color: #1561c5;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.561);
    overflow: hidden;
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform:translate(-50%, -50%);
}

#imagem{
    display: block;
    height: 200px;
    width: 320px;
    background:#5f2c82 url(../imagens/ia.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario h1{
    text-align: center;
    margin-bottom: 5px;
}

#formulario p{
    font-size: 0.9em;
}

.caixa{
    display: flex;
    background-color: #5593e4;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 3px solid #5593e4;
}

#icon{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

.caixa > input{
    height: 100%;
    width: calc(100% - 40px);
    font-size: 1em;
    border: none;
    border-radius: 8px;
    padding: 4px;
}



form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #3785ea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #62a6ff;
}

.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 2px;
    margin-top: 5px;
    background-color: white;
    color: #5593e4;
    border: 1px solid #5593e4;
    border-radius: 10px;
    text-decoration: none;
}

.botao:hover{
    background-color: #5593e4;
    color: white;
}

form > a.botao > i{
    font-size: 0.8em;
}

